/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 
If the above width is causing issues use this in the main img css 

img.oversized {
  max-width: revert;
}
*/


/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: var(--light-background-color);
  color: var(--dark-font-color);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 12fr;
  height: 100vh;

}

:root {
  --dark-background-color: #397367;
  --light-background-color: #DEEDEA;
  --light-font-color: #DEEDEA;
  --dark-font-color: #162724;
  --light-dark-background-color: #A5D3C9; 
  --standard-border: 3px solid var(--dark-background-color);
  --standard-radius: 20px;
}

header {
  background-color: var(--dark-background-color);
  color: var(--light-font-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

button {
  border-radius: var(--standard-radius);
  border-bottom: 4px solid var(--dark-font-color);
  border-right: 4px solid var(--dark-font-color);;
  background-color: var(--dark-background-color);
  color: var(--light-font-color);
  padding: 10px 30px 10px 30px;
}

button:hover {
  background-color: var(--light-dark-background-color);
  color: var(--dark-font-color)
}

/* Page Related */

.project {
   display: grid;
   width: 100%;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr 8fr;
   height: 100%;
}

.project-header {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 10px;
  background-color: var(--light-dark-background-color);

}

.project-header > * {
  margin-left: 30px;
}

.project-name {
  border-right: var(--standard-border);
  border-bottom: var(--standard-border);
  padding: 10px;
  min-width: 200px;
  text-align: center;
  border-radius: var(--standard-radius);
}

.project-name[contenteditable="true"]:focus {
  outline: none;  
  color: var(--light-font-color);
  background-color: var(--dark-background-color);
}

.project-lists {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* List CSS */
.list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 8fr 1fr;
  height: 90%;
  border: var(--standard-border);
  padding: 10px;
  min-width: 300px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: var(--standard-radius);
}

.list-header {
  border: var(--standard-border);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--standard-radius);
  width: 100%;
}

.list-name {
  width: 100%;
  border-radius: var(--standard-radius);
  text-align: center;
}

.list-name[contenteditable="true"]:focus {
  outline: none;  
  color: var(--light-font-color);
}

.list-header:has(.list-name[contenteditable="true"]:focus) {
  background-color: var(--dark-background-color);
}


.list-tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin-top: 10px;
}

.list-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}

/* Task CSS */
.task {
  border-radius: var(--standard-radius);
  border: var(--standard-border);
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
}

.task[contenteditable="true"]:focus {
  outline: none;  
  color: var(--light-font-color);
  background-color: var(--dark-background-color);
}